h1 a, h2 a {
   color: #C25100;
   font-family: 'Lobster';
}
body {
    padding-left: 15px;
}

/* per classi denominate con page-header in HTML*/

.page-header {
     background-color: #C25100;
     margin-top: 0;
     padding: 20px 20px 20px 40px; 
} 

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
     color: #ffffff;
     font-size: 36pt;
     text-decoration: none; 
}

/* per classi denominate con post in HTML*/
.post {
     margin-bottom: 70px; 
} 

.post h2 a, .post h2 a:visited {
     color: #000000; 
}